<!DOCTYPE html>
<html>
<head>
  <title>Voter</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="content">
  <% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
  <% end %>
  <% if flash[:notice] %>
    <div class="notice"> <%= flash[:notice] %></div>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
